body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}

.column {
  float: left;
  width: 50%;
}

/*--- navigation bar ---*/
.navbar {
  background:#6ab446;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.top-buffer { 
  margin-top:20px;
}

/* Custom CSS */
.row-center {
  text-align: center;
}

h3 {
  color: #0047b3;
}