<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta charset="utf-8">
    <title>StoryTellers - Roll the dice</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
{% include 'navbar.html' %}
<div class="container my-3 bg-light cont my-3 rounded pb-3" style="padding: 30px;">
    <div class="row d-flex justify-content-center">
        <h3 class="text-center">{{ dice_number }} rolled words</h3>
    </div>
    <div class="row d-flex justify-content-center">
        {% for word in words %}
            <div class="col-xs-12 col-sm-2">
                <div class="card border-primary">
                    <img src="../../static/{{ dice_img_set }}/die{{ dice_indexes[loop.index0] }}/{{ word }}.png"
                         class="card-img-top" alt="{{ word }}">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ word }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row mt-3">
        <div class="col-xs-12 col-sm-12 d-flex justify-content-center">
            <form action="" method="POST">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-secondary"
                            onclick="window.location='{{ home_url }}stories/new/settings'">Return to settings
                    </button>
                    <button type="button" class="btn btn-outline-info" onclick="$(this).parents('form:first').submit()">
                        Re-roll dice
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-xs-12 col-sm-12 d-flex justify-content-center">
            <form action="{{ home_url }}stories/new/write" method="GET">
                <button type="button" class="btn btn-outline-success" onclick="$(this).parents('form:first').submit()">
                    Write story
                </button>
            </form>
        </div>
    </div>
</div>

</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<script>
    window.onload = function () {
        document.getElementById('email').className = 'form-control';
        document.getElementById('password').className = 'form-control';
    };
</script>
</html>