<html>
 <body>
 <h5>Le parole sono: {{words}}</h5>
  <form action={{ submit_url }} method="POST">
    {{ form.hidden_tag() }}
    <dl>
     {% for field in form.display %}
     <dt>{{ form[field].label }}</dt>
     <dd>{{ form[field]() }}</dd>
       {% if form[field].errors %}
          {% for e in form[field].errors %}
           <p class="help-block">{{ e }}</p>
          {% endfor %}
       {% endif %}
     {% endfor %}
    </dl>
    <p>
    <input type=submit value="Submit">
  </form>
 <h5> {{ message }} </h5>
 </body>
</html>

