[submodule "md-advanced-programming"]
	path = md-advanced-programming
	url = https://github.com/GPurgatorio/md-advanced-programming
[submodule "ict-infrastructures"]
	path = ict-infrastructures
	url = https://github.com/md-cs-student-unipi/ict-infrastructures
[submodule "md-peer-to-peer-systems-and-blockchains"]
	path = md-peer-to-peer-systems-and-blockchains
	url = https://github.com/GPurgatorio/md-peer-to-peer-systems-and-blockchains
[submodule "md-mobile-and-cyber-physical-systems"]
	path = md-mobile-and-cyber-physical-systems
	url = https://github.com/GPurgatorio/md-mobile-and-cyber-physical-systems
[submodule "md-advanced-software-engineering"]
	path = md-advanced-software-engineering
	url = https://github.com/GPurgatorio/md-advanced-software-engineering
[submodule "md-security-methods-and-verification"]
	path = md-security-methods-and-verification
	url = https://github.com/GPurgatorio/md-security-methods-and-verification
[submodule "md-ict-risk-assessment"]
	path = md-ict-risk-assessment
	url = https://github.com/GPurgatorio/md-ict-risk-assessment
[submodule "dm-project"]
	path = dm-project
	url = https://github.com/jacopo-massa/dm-project
[submodule "ml-project"]
	path = ml-project
	url = https://github.com/jacopo-massa/ml-project
[submodule "md-algorithm-engineering"]
	path = md-algorithm-engineering
	url = https://github.com/GPurgatorio/md-algorithm-engineering
